.landing{
  height: 100%;
  display: flex;
  flex-direction: row;
}

#car {
  height: 100px;
  width: 100px;
  position: relative;
  top: 110px;
  left: 0px;
  color:#e9aa42;
}

#left-side {
  width: 50%;
  background-color: var(--bs-gray-700);
}

#right-side {
  width: 50%;
  background-color: #e9aa42;
}

#left-text {
  color: #e9aa42;
  margin: 50% 10px 0 50%;
  text-align: right;
}

.landing-text {
  margin-top: 50%;
  color: var(--bs-gray-700);

}

#right-text-head{
  margin-left: 5px;
  margin-top: 65%;
  margin-bottom: 30px;
}

#right-text-p {
  width: 80%;
  margin-left: 5px;
  margin-top: 60px;
  color: var(--bs-gray-700);
  font-size: larger;
  font-weight: light;
}

.education-containter {
  display: block;
  overflow: auto;
  background-color: var(--bs-gray-700);
}

.education-header {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  color: #e9aa42;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.resume-item-container{
  display:flex;
  margin-bottom: 25px;
}

.left-column {
  flex-grow: 1;
  max-width: 650px;
  min-width: 150px;
}

.right-column{
  flex-grow: 3;
}

.expereince-title {
  font-size: larger;
  color: #e9aa42;
}

.expereince-title-information {
  font-size: larger;
  margin-bottom: 5px;
  color: #e9aa42;
  font-weight: 200;
}

.small-text {
  font-size: larger;
  margin-bottom: 5px;
  color: #e9aa42;
  font-weight: 200;
}

.center {
  text-align: center;
}

.project-row {
  height: auto;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  row-gap: 5px;
}

.github {
  color: #e9aa42;
  margin-left: auto;
  margin-right: auto;
}

.project-box {
  display: flex;
  flex-direction: column;
}

.project-box:hover {
    background: #e9aa42;
    color: #555;
}
.project-box:hover .project-description{
  color: var(--bs-gray-700);
}
.project-box:hover .project-title{
  color: var(--bs-gray-700);
}

.project-box:hover .github{
  color: var(--bs-gray-700);
}

.project-title {
  text-align: center;
  color: #e9aa42;
  font-size: 28px;

}

.project-description {
  color: #e9aa42;
  font-weight: 200;
  text-align: center;
}

.bridge-section {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bs-gray-700);
}
.bridge-img, .bridge-img-upsidedown {
  width: 80%;
  height: auto;
  max-width: 600px;
}

.bridge-img-upsidedown{
  transform: rotate(180deg);
  position: relative;
  top: 65px;
}

hr.bridge-road {
  height: 10px;
  position: relative;
  top: -88px;
  color: #e9aa42;
  opacity: 1;
  margin-bottom: 0px;
}


.career-section {
  display: block;
  background-color: var(--bs-gray-700);

}

.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.hello-cover {
  height: 100px;
  width: 100px;
  position: relative;
  width: 100%;
  top: -45px;
}
.contact-me-text, .contact-me-text-small{
  color: #e9aa42;
  text-align: center;
  margin-bottom: 5px;
  font-size: large;
  font-weight: lighter;
}

.contact-icon{
  color: #e9aa42;
  margin: 6px 12px 6px 12px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info p{
  color:#e9aa42;
  margin-left: 5px;
  margin-bottom: 20px;
  position: relative;
  top: -5px;
  font-weight: light;
}


.shane-photo {
  width: 150px;
  margin: 20px;
}


.technologies-section {
  height: 250px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-technologies {
  width: 90%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.tech-logo {
  height: 120px;
  width: auto;
  margin: 20px;
  margin-right: 12px;
}

.personal-projects {
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR STUFF */ 
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bs-gray-700);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 800px) {
  .contact-details{
    margin-bottom: 10px;
    flex-direction:column;
  }
  .shane-photo {
    margin-top: 5px;
  }
  .contact-info {
    margin-top: 10px;
    margin-bottom: 10px;;
  }
}
/* Basic styles ANIMATION STUFF BELOW */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --bg-color: #D8D8D8;
}


h1{
    font-size: 3em;
    font-weight: normal;
}

/* title styles */
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #e9aa42;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bs-gray-700);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}




.home-title-right span{
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title-right span::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bs-gray-700);
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

.home-title-right span::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #e9aa42;
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

.home-title-right span:nth-of-type(1)::before,
.home-title-right span:nth-of-type(1)::after{
  animation-delay: 2s;
}

.home-title-right span:nth-of-type(2)::before,
.home-title-right span:nth-of-type(2)::after{
  animation-delay: 2.5s;
}

@keyframes a-ltr-after{
  0% {transform: translateX(-100%)}
  100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
  0% {transform: translateX(0)}
  100% {transform: translateX(200%)}
}